@charset "UTF-8";

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


:root {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; 
  --background: #F5F5F5;
  --destaque: #464646;
  --icones: #2A7AE4;
  --contato: #EAF2FD;
} 

body {
  background-color: var(--background);
}

h1,h2,p {
  color: var(--destaque);
} 

.container {
  padding: 1.6rem;
}
/* header */ 

header {
  align-items: center; 
  display: flex;
  justify-content: space-between;
}

.logo {
  align-items: center;
  color: var(--destaque);
  display: flex;
  gap: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
}

.logo::before {
  content: url(../images/logo.svg);
  
}

.navegacao__lista {
  display: none;
}



/* Apresentação */

.apresentacao__eu {
  background: url(../images/eu.jfif) no-repeat center / cover;
  border-radius: 50%;
  height: 98px;
  margin-bottom: 1.6rem;
  width: 98px;
}

.apresentacao__texto {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.apresentacao__texto-titulo, .sobre__titulo, .habilidades h2{
  font-weight: 700;
  font-size: 2.2rem;
}

.apresentacao__texto-paragrafo, .sobre__paragrafo, .navegacao__contato{
  font-weight: 400;
  font-size: 1.4rem;
}


.apresentacao__lista {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  list-style: none;
}

.apresentacao__link {
  color: var(--destaque);
  text-decoration: none;
} 

.apresentacao__link::after {
  content: url(../images/seta.svg);
}

/* Sobre mim */

.sobre {
  background-color: var(--contato);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sobre__paragrafo {
  line-height: 2rem;
}

/* habilidades */

.habilidades {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
}

.habilidades__ensino,.habilidades__hobbies{ 
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1.6rem;
  justify-content: center;
  text-align: start;
}

.habilidades__ensino-skills, .habilidades__hobbies-habitos{
  align-items: start;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 700;
  gap: 1rem;
  height: 118px;
  justify-content: end;
  padding: 1.6rem;
  width: 156px;
}

[data-javascript]::before {
  content: url(../images/JavaScript.svg)
}

[data-css]::before {
  content: url(../images/css.svg)
}

[data-html]::before {
  content: url(../images/html5.svg)
}

/* hobbies */

[data-jogar]::before {
  content: url(../images/jogar.svg);
}

[data-ouvir]::before {
  content: url(../images/ouvir.svg);
}

[data-assistir]::before {
  content: url(../images/assistir.svg);
}

/* Formação */

