@charset "UTF-8";

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; 
  --background: #F5F5F5;
  --destaque: #464646;
  --icones: #2A7AE4;
  --contato: #EAF2FD;
} 

body {
  background-color: var(--background);
  color: var(--destaque);
}

.container {
  padding: 1.6rem;
}

.background {
  background-color: var(--contato);
}
/* header */ 

.header {
  align-items: center; 
  display: flex;
  justify-content: space-between;
  padding: 1.6rem;
}

.logo {
  align-items: center;
  display: flex;
  gap: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
}

.logo::before {
  content: url(../images/logo.svg);
  
}

.navegacao__lista {
  display: none;
}



/* Apresentação */

.apresentacao__eu {
  border-radius: 50%;
  height: 9.8rem;
  margin-bottom: 1.6rem;
  width: 9.8rem;
}

.apresentacao__eu img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.apresentacao__texto {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.apresentacao__texto-titulo,
.sobre__titulo,
.habilidades h2,
.formacao__titulo,
.experiencia__titulo h2{
  font-weight: 700;
  font-size: 2.2rem;
} 

.apresentacao__texto-paragrafo, .sobre__paragrafo, .navegacao__contato{
  font-weight: 400;
  font-size: 1.4rem;
}


.apresentacao__lista {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  list-style: none;
}

.apresentacao__link {
  text-decoration: none;
  color: var(--destaque);
} 

.apresentacao__link::after {
  content: url(../images/seta.svg);
}

/* Sobre mim */

.sobre {
  /* background-color: var(--contato); */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sobre__paragrafo {
  line-height: 2rem;
}

/* habilidades */

.habilidades {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
}

.habilidades__ensino,.habilidades__hobbies{ 
  display: flex;
  gap: 1.6rem;
  text-align: start;
}

.habilidades__ensino-skills, .habilidades__hobbies-habitos{
  align-items: start;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 700;
  gap: 1rem;
  height: 11.8rem;
  justify-content: end;
  padding: 1.6rem;
  width: 100%;
}

[data-javascript]::before {
  content: url(../images/JavaScript.svg)
}

[data-css]::before {
  content: url(../images/css.svg)
}

[data-html]::before {
  content: url(../images/html5.svg)
}

/* hobbies */

[data-jogar]::before {
  content: url(../images/jogar.svg);
}

[data-ouvir]::before {
  content: url(../images/ouvir.svg);
}

[data-assistir]::before {
  content: url(../images/assistir.svg);
}

/* Formação */

.formacao {
  /* background-color: var(--contato); */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;
  text-align: center;
}

.formacao__certificacao {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.formacao__certificados {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
}


.formacao__certificados-imagem {
  align-items: center;
  background-color: white;
  display: flex;
  height: 11.8rem;
  justify-content: center;
}

.formacao__certificado-descricao h2, .experiencia__projetos-descricao h2{
  font-size: 1.6rem;
  font-weight: 700;
}

.formacao__certificado-descricao small, .experiencia__projetos-descricao small {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Experiência profissional */

.experiencia {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem;
  text-align: center;
}

.experiencia__projetos {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.experiencia__projetos-imagem {
  background-color: var(--contato);
  height: 20rem;
}

.experiencia__projetos-imagem img {
  height: 100%;
  width: 80%;
}

.experiencia__projetos-descricao {
  text-align: left;
}

.experiencia__projetos-botoes {
  display: flex;
  gap: 1.6rem;
  height: 4rem;
  margin-bottom: 4.8rem;
}

.experiencia__projetos-botoes:last-child {
  margin-bottom: 0;
}

.experiencia__projetos-botoes a{
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
}

a.repositorio {
  background-color: white;
  border: 1px solid var(--icones);
  color: var(--icones);
}

a.demonstracao {
  background-color: var(--icones);
  color: white;
}

/* Contato */

.contato {
  /* background-color: var(--contato); */
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;
  text-align: left;
}

.contato__titulo {
  line-height: 2rem;
  width: 70%;
}

.contato__titulo h2{
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.contato__titulo p {
  font-size: 1.6rem;
  font-weight: 500;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.input {
  border: none;
  color: var(--destaque);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  height: 5.6rem;
  padding: 1.2rem 1.6rem;
  width: 100%;
}

#mensagem {
  height: 13.3rem;
}

::placeholder {
  color: #A2A2A2;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif; 
}

#enviarMensagem {
  border: none;
  background-color: var(--icones);
  color: white;
  padding: 1.2rem 1.6rem;
  width: 50%;
}


/* footer */

footer {
  background-color: white;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 3.2rem 6.3rem;
  text-align: center;
  width: 100%;
}