@charset "UTF-8";

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


:root {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; 
  --background: #F5F5F5;
  --destaque: #464646;
  --icones: #2A7AE4;
  --contato: #EAF2FD;
} 

body {
  background-color: var(--background);
}

h1,h2,p {
  color: var(--destaque);
} 

.container {
  padding: 1.6rem;
}
/* header */ 

header {
  align-items: center; 
  display: flex;
  justify-content: space-between;
}

.logo {
  align-items: center;
  color: var(--destaque);
  display: flex;
  gap: 0.8rem;
  font-weight: 700;
  font-size: 1.6rem;
}

.logo::before {
  content: url(../images/logo.svg);
  
}

.navegacao__lista {
  display: none;
}



/* Apresentação */

.apresentacao__eu {
  background: url(../images/eu.jfif) no-repeat center / cover;
  border-radius: 50%;
  height: 9.8rem;
  margin-bottom: 1.6rem;
  width: 9.8rem;
}

.apresentacao__texto {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.apresentacao__texto-titulo,
.sobre__titulo,
.habilidades h2,
.formacao__titulo,
.experiencia__titulo h2{
  font-weight: 700;
  font-size: 2.2rem;
} 

.apresentacao__texto-paragrafo, .sobre__paragrafo, .navegacao__contato{
  font-weight: 400;
  font-size: 1.4rem;
}


.apresentacao__lista {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  list-style: none;
}

.apresentacao__link {
  color: var(--destaque);
  text-decoration: none;
} 

.apresentacao__link::after {
  content: url(../images/seta.svg);
}

/* Sobre mim */

.sobre {
  background-color: var(--contato);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sobre__paragrafo {
  line-height: 2rem;
}

/* habilidades */

.habilidades {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: center;
}

.habilidades__ensino,.habilidades__hobbies{ 
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1.6rem;
  justify-content: center;
  text-align: start;
}

.habilidades__ensino-skills, .habilidades__hobbies-habitos{
  align-items: start;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: 700;
  gap: 1rem;
  height: 11.8rem;
  justify-content: end;
  padding: 1.6rem;
  width: 15.6rem;
}

[data-javascript]::before {
  content: url(../images/JavaScript.svg)
}

[data-css]::before {
  content: url(../images/css.svg)
}

[data-html]::before {
  content: url(../images/html5.svg)
}

/* hobbies */

[data-jogar]::before {
  content: url(../images/jogar.svg);
}

[data-ouvir]::before {
  content: url(../images/ouvir.svg);
}

[data-assistir]::before {
  content: url(../images/assistir.svg);
}

/* Formação */

.formacao {
  background-color: var(--contato);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;
  text-align: center;
}

.formacao__certificados {
  color: var(--destaque);
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.8rem;
}

.formacao__certificado-descricao{ 
  margin-bottom: 0.8rem;
}

.formacao__certificados-imagem {
  align-items: center;
  background-color: white;
  display: flex;
  height: 11.8rem;
  justify-content: center;
}

.formacao__certificado-descricao h2, .experiencia__projetos-descricao h2{
  font-size: 1.6rem;
  font-weight: 700;
}

.formacao__certificado-descricao small, .experiencia__projetos-descricao small {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Experiência profissional */

.experiencia {
  color: var(--destaque);
  display: flex;
  background-color: var(--background);
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem;
  text-align: center;
}

.experiencia__projetos {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.experiencia__projetos-imagem {
  height: 11.8rem;
  width: 100%;
  background-color: var(--contato);
}

.experiencia__projetos-imagem img {
  width: 80%;
  height: 100%;
}

.experiencia__projetos-descricao {
  text-align: left;
}

.experiencia__projetos-botoes {
  display: flex;
  gap: 1.6rem;
  height: 4rem;
  margin-bottom: 4.8rem;
}

.experiencia__projetos-botoes:last-child {
  margin-bottom: 0;
}

.experiencia__projetos-botoes a{
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
}

a.repositorio {
  background-color: white;
  color: var(--icones);
  border: 1px solid var(--icones);
}

a.demo {
  background-color: var(--icones);
  color: white;
}

/* Contato */








/* footer */

footer {
  background-color: white;
  text-align: center;
  width: 100%;
  padding: 3.2rem 6.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--destaque);
}
